Source: ros-hydro-people
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/people
Standards-Version: 3.9.2

Package: ros-hydro-people
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-face-detector, ros-hydro-people-msgs
Description: The people stack holds algorithms for perceiving people from a number of sensors.
