Source: ros-groovy-people
Section: misc
Priority: extra
Maintainer: Dan Lazewatsky <dan@lazewatsky.com>
Build-Depends: debhelper (>= 9.0.0), ros-groovy-catkin
Homepage: http://ros.org/wiki/people
Standards-Version: 3.9.2

Package: ros-groovy-people
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-face-detector, ros-groovy-leg-detector, ros-groovy-people-msgs, ros-groovy-people-tracking-filter, ros-groovy-people-velocity-tracker
Description: The people stack holds algorithms for perceiving people from a number of sensors.
